<!DOCTYPE html>
<html lang="en">
<head>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="makeup.css">
    <meta charset="UTF-8">
    <title>Makeup</title>

</head>

<body>

<div class="pink">

    <div class="search-bar">

        <form action="#" method="get">
            <input type="text" name="search" placeholder="Search..." />
            <input type="submit" value="Search" />
        </form>

        <button class="login-button">Log in</button>
        <button class="login-button"><i class="fas fa-user"></i> Log in</button>

    </div>
</div>

<button class="cart-button"> <b> Shopping Cart </b>
    <i class="fas fa-shopping-cart"></i>
</button>

<div class="sidebar">
    <h2>Categories</h2>
    <ul class="category-list">
        <li><a href="products">  <b> View all products </b></a></li>
        <li><a href="#"><img src="https://w7.pngwing.com/pngs/859/171/png-transparent-compact-face-powder-computer-icons-cosmetics-compact-powder-text-cosmetics-makeup-brush.png" alt="Lips Icon" style="width: 15px; height: 15px;"> <b> Face </b></a></li>
        <li><a href="#"> <img src="https://i.pinimg.com/originals/f4/1a/56/f41a563820302ab874e9dc4460cccf14.jpg" alt="Lips Icon" style="width: 15px; height: 15px;"> <b> Eyes </b></a></li>
        <li><a href="#"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRC4cv5NMQQBSyPD5px_SiOzykOUnOgrLBbRA&usqp=CAU" alt="Lips Icon" style="width: 15px; height: 12px;"> <b> Lips </b> </a></li>
        <li><a href="#"><img src="https://thumbs.dreamstime.com/b/woman-long-hair-icon-beauty-salon-vector-illustration-215156401.jpg" alt="Lips Icon" style="width: 15px; height: 15px;"> <b> Hair </b></a></li>

        <!-- Add more categories -->
    </ul>
    <h2>Brands</h2>
    <ul class="category-list">
        <li><a href="#"> <b> Anastasia Beverly Hills </b></a></li>
        <li><a href="#"> <b> Benefit Cosmetics </b></a></li>
        <li><a href="#"> <b> Dior </b></a></li>
        <li><a href="#"> <b> Drunk Elephant </b></a></li>
        <li><a href="#"> <b> Fenty Beauty by Rihanna </b></a></li>
        <li><a href="#"> <b> Huda Beauty </b></a></li>
        <li><a href="#"> <b> Kylie Cosmetics </b></a></li>
        <li><a href="#"> <b> Morphe </b></a></li>
        <li><a href="#"> <b> NARS </b></a></li>
        <li><a href="#"> <b> Rare Beauty </b></a></li>
        <li><a href="#"> <b> Rem Beauty </b></a></li>
        <li><a href="#"> <b> Tarte </b></a></li>
        <li><a href="#"> <b> Too Faced </b></a></li>

        <!-- Add more categories -->
    </ul>
</div>



<div class="slideshow-container">
    <img src=https://images.fastcompany.net/image/upload/w_1280,f_auto,q_auto,fl_lossy/wp-cms/uploads/2020/08/p-1-selena-gomez-launches-new-makeup-line.jpg width="2160" height="1080" alt="Image 1"  >
    <img src="https://s3-ap-southeast-1.amazonaws.com/kpc-prod-web-static/frontend/microsite/dior/images/mainbanner/20.-Sep-2022-RD-Fvr-Stick-x-KP-Landing-Page-Banner-EN-Website-Desktop-(W2160px-x-H1080px).jpg" width="2160" height="1080" alt="Image 2" >
    <img src="https://leap.london/leap-content/uploads/2017/11/Fenty-Beauty-Campaign-with-Rhianna-Across-Digital-and-Print-Media-supported-by-Loveurope_Page_8.jpg" width="2160" height="1080" alt="Image 3"  >


</div>







<!--<table id="produse">
    <tr th:each="produs: ${products}">
        <td th:text= "${produs.pret}" > </td>
        <td th:text= "${produs.tip}" > </td>
        <td th:text= "${produs.firma}" > </td>

    </tr>

</table> -->


</body>
</html>