<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="products.css">
  <meta charset="UTF-8">
  <title>All Products</title>

</head>

<body>


<div class="pink">

  <div class="search-bar">

    <form action="#" method="get">
      <input type="text" name="search" placeholder="Search..." />
      <input type="submit" value="Search" />
    </form>

    <button class="login-button">Log in</button>
    <button class="login-button"><i class="fas fa-user"></i> Log in</button>

  </div>
</div>

<button class="cart-button"> <b> Shopping Cart </b>
  <i class="fas fa-shopping-cart"></i>
</button>

<div class="sidebar">
  <h2>Categories</h2>
  <ul class="category-list">
    <li><a href="products">  <b> View all products </b></a></li>
    <li><a href="#"><img src="https://w7.pngwing.com/pngs/859/171/png-transparent-compact-face-powder-computer-icons-cosmetics-compact-powder-text-cosmetics-makeup-brush.png" alt="Lips Icon" style="width: 15px; height: 15px;"> <b> Face </b></a></li>
    <li><a href="#"> <img src="https://i.pinimg.com/originals/f4/1a/56/f41a563820302ab874e9dc4460cccf14.jpg" alt="Lips Icon" style="width: 15px; height: 15px;"> <b> Eyes </b></a></li>
    <li><a href="#"> <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRC4cv5NMQQBSyPD5px_SiOzykOUnOgrLBbRA&usqp=CAU" alt="Lips Icon" style="width: 15px; height: 12px;"> <b> Lips </b> </a></li>
    <li><a href="#"><img src="https://thumbs.dreamstime.com/b/woman-long-hair-icon-beauty-salon-vector-illustration-215156401.jpg" alt="Lips Icon" style="width: 15px; height: 15px;"> <b> Hair </b></a></li>

    <!-- Add more categories -->
  </ul>
  <h2>Brands</h2>
  <ul class="category-list">
    <li><a href="#"> <b> Anastasia Beverly Hills </b></a></li>
    <li><a href="#"> <b> Benefit Cosmetics </b></a></li>
    <li><a href="#"> <b> Dior </b></a></li>
    <li><a href="#"> <b> Drunk Elephant </b></a></li>
    <li><a href="#"> <b> Fenty Beauty by Rihanna </b></a></li>
    <li><a href="#"> <b> Huda Beauty </b></a></li>
    <li><a href="#"> <b> Kylie Cosmetics </b></a></li>
    <li><a href="#"> <b> Morphe </b></a></li>
    <li><a href="#"> <b> NARS </b></a></li>
    <li><a href="#"> <b> Rare Beauty </b></a></li>
    <li><a href="#"> <b> Rem Beauty </b></a></li>
    <li><a href="#"> <b> Tarte </b></a></li>
    <li><a href="#"> <b> Too Faced </b></a></li>

    <!-- Add more categories -->
  </ul>
</div>
<!-- ------------------------------------------------------------------------------------------------------------------- -->


<div class="container">
<div class="dropdown">
  <button class="custom-button">Sort By<i class="fas fa-arrow-down arrow-down"></i> </button>
  <div class="dropdown-content">
    <a href="#">Price Low to High</a>
    <a href="#">Price High to Low</a>
  </div>
</div>
</div>


<table>

  <tbody>
  <tr>
    <td colspan="4" class="product-row">

      <div class="product">
        <label for="product1-checkbox">
        <img src="https://www.sephora.com/productimages/sku/s2640183-main-zoom.jpg?imwidth=250" alt="Product 1" class="product-image">
        </label>
        <input type="checkbox" id="product1-checkbox" style="display: none;">
          <div class="product-details">
          <h4>Rare Beauty</h4>
          <p>Soft Pinch Tinted Lip Oil</p>
          <p>99,42 RON</p>
            <button class="add-to-cart">Add to Cart</button>
        </div>
      </div>

      <div class="product">
      <label for="product2-checkbox">
        <img src="https://www.sephora.com/productimages/sku/s2264638-main-zoom.jpg?imwidth=250" alt="Product 2" class="product-image">
      </label>
      <input type="checkbox" id="product2-checkbox" style="display: none;">
      <div class="product-details">
        <h4>Benefit Cosmetics</h4>
        <p>Benetint Liquid Lip Blush & Cheek Tint</p>
        <p>96,84 RON</p>
        <button class="add-to-cart">Add to Cart</button>
      </div>
      </div>


      <div class="product">
        <label for="product3-checkbox">
          <img src="https://www.sephora.com/productimages/sku/s2245363-main-zoom.jpg?imwidth=250" alt="Product 3" class="product-image">
        </label>
        <input type="checkbox" id="product3-checkbox" style="display: none;">
        <div class="product-details">
          <h4>NARS</h4>
          <p>Mini Radiant Creamy Concealer</p>
          <p>69,17 RON</p>
          <button class="add-to-cart">Add to Cart</button>
        </div>
      </div>


      <div class="product">
        <label for="product4-checkbox">
          <img src="https://www.sephora.com/productimages/sku/s2520419-main-zoom.jpg?imwidth=250" alt="Product 4" class="product-image">
        </label>
        <input type="checkbox" id="product4-checkbox" style="display: none;">
        <div class="product-details">
          <h4>Benefit Cosmetics</h4>
          <p>Hoola Bronzer</p>
          <p>161,43 RON</p>
          <button class="add-to-cart">Add to Cart</button>
        </div>
      </div>


    </td>
  </tr>
  <!-- Add more rows for additional product rows -->
  </tbody>
</table>







<!--<table id="produse">
    <tr th:each="produs: ${products}">
        <td th:text= "${produs.pret}" > </td>
        <td th:text= "${produs.tip}" > </td>
        <td th:text= "${produs.firma}" > </td>

    </tr>

</table> -->


</body>
</html>